body {
  background-color: #000;

  h1 {
    color: #244751;
  }
}

#logo {
  height: 3em;
}

#avatar {
  height: 3em;
}

.resource_picture {
  width: 100%;
}

.resource_attributes {
  font-size: small;

  a a:hov {
  text-decoration: none;
  color: black;
  }

}
