body {
  background-color: #000;

  h1 {
    color: #244751;
  }
}


.bg {
  background: url('/assets/example/bg_blueplane.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: 1;
}

.jumbotron {
  margin-bottom: 0px;
  height: 350px;
  color: white;

  background:transparent;
}

// ----------------------------

#body {
  background-color: #F3F0DD
}




#logo {
  height: 3em;
}

#avatar {
  height: 3em;
}





#userName {
  color: inherit;
}

#discription {
  color: inherit;
}








.resource_picture {
  width: 100%;
}

.resource_attributes {
  font-size: small;

  a a:hov {
  text-decoration: none;
  color: black;
  }

}


.test {
    font-family: 'Slackey', cursive ;
}
